/* NAVIGATION */
.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   box-shadow: none; 
   margin: 1rem 0rem;
}
.navbar-header img {
  float: right;
  display: block;
  position: relative;
  padding: 2rem 0rem;
  width: 90%;
  height: auto;
}
.navbar-brand {
  margin: 0px;
  padding: 0px;
}
.sidebar-nav-fixed {
  width: 100%;
}
.sidebar-nav-fixed .navbar ul {
  float: none;
}
.sidebar-nav-fixed .navbar ul:not {
  display: block;
}
.sidebar-nav-fixed .navbar li {
  float: none;
  display: block;
  text-align: right;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.5rem;
  font-family: "Open Sans", Helvetica, sans-serif;
  float: none;
  display: block;
}
.navbar-default .navbar-nav>.active>a,  
.navbar-default .navbar-nav>li.active>a:focus {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    background: #000;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #232323;
  background: #eaeaea;
}

/* MAIN */
.col-sm-8 {
  display: block;
  padding: 5rem 30rem 10rem 4rem;
}

.list-head {
  font-size: 5rem;
  font-weight: bold;
  font-family: Arvo, Georgia, serif;
}

p {
  color: black;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* FOOTER */
footer p {
  font-size: 0.75rem;
  text-align: right;
  margin: 2rem 2rem;
}

/*.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}*/

/* CONTACT */
.contact-btn {
  float: right;
}
.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
}
.contact-btn a:active {
  top: 2px;
}


@media (max-width: 767px) {
  .navbar-default {
   margin: 0px 0px;
   padding: 0px;
  }
  .navbar-brand img {
    float: left;
    margin: 20px 20px 0px 0px;
    width: auto;
    height: 100%;
  }
  .sidebar-nav-fixed .navbar-nav > li {
    display: inline-block;
    margin: 10px 5px 5px 5px;
  }
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>.active>a,  
  .navbar-default .navbar-nav>li.active>a:focus,
  .navbar-default .navbar-nav>li>a:hover {
    display: inline-block;
    font-size: 90%;
  }

  .col-sm-8 {
    display: block;
    padding: 2rem 4rem 10rem 4rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
}
