/* NAVIGATION */
.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   box-shadow: none; 
   margin: 1rem 0rem;
}
.navbar-header img {
  float: right;
  display: block;
  position: relative;
  padding: 2rem 0rem 0rem 0rem;
  width: 100%;
  height: auto;
}
.navbar-brand {
  margin: 0px;
  padding: 0px;
}
.navbar-brand .tablet {
  display: none;
}
.navbar-brand .phone {
  display: none;
}
.sidebar-nav-fixed {
  width: 100%;
}
.sidebar-nav-fixed .navbar ul {
  float: none;
}
.sidebar-nav-fixed .navbar ul:not {
  display: block;
}
.sidebar-nav-fixed .navbar li {
  float: none;
  display: block;
  text-align: right;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  color: #aaa;
  float: none;
  display: block;
}
.navbar-default .navbar-nav>.active>a,  
.navbar-default .navbar-nav>li.active>a:focus {
  font-size: 2.25rem;
  font-weight: bolder;
  color: #fff;
  background: #000;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #232323;
  background: #eaeaea;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background: #000;
}

/* INDEX */
.content {
  display: block;
  padding: 3rem 0rem 0rem 7rem;
}

p {
  color: black;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

.list-head {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Arvo', 'Palatino', sans-serif;
  list-style-type: none;
  color: #000;
}
.who, .what, .where {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, sans-serif;
  list-style-type: none;
  margin-bottom: 2rem;
  color: #000;
}

.who li, .what li, .where li {
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  padding: 0.5rem 0rem;
}
table a:link, a:visited {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: #000;
}
table a:hover, a:active {
  text-decoration: underline;
}
tr>td {
  padding: 0.5rem 0;
}
td img {
  display: inline;
  width: 25%;
  height: auto;
  margin: 0rem 2rem;
}
#email, #github, #linkedin {
  font-family: 'Arvo', 'Palatino', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  display: none;
}

/* PROJECTS */

/* ABOUT */
  /* contact */
.contact-btn {
  margin: 15px 0;
}
.contact-btn a {
  cursor: pointer;
  border: none;
  position: relative;
}
.contact-btn a:active {
  top: 2px;
}
.contact-btn img {
  margin: 0 30px 0 0;
  max-width: 17%;
  height: auto;
}
#contact {
  bottom: 0;
  margin: 50px -30px;
}
.lang {
  padding: 0rem 0rem;
}
.about-list {
  list-style-image: url('img/arrow/right.png');
}
#skills, #language, #software, #interests {
  display: none;
}

/* FOOTER */
footer p {
  font-size: 0.75rem;
  text-align: right;
  margin: 2rem 2rem;
}


/* MEDIA QUERIES */
@media (max-width: 767px) {
  .navbar-static-top {
     position: fixed;
     top: 0;
     left: 0;
     background-color: #000;
     width: 100%;
     height: auto;
     overflow: hidden;
     margin-top: 0;
  }
  .navbar-default {
    margin: 0px 0px 20px;
    padding: 0px;
  }
  .navbar-brand .tablet {
    display: inline-block;
    float: left;
    margin: 20px 20px 0px 10px;
    width: auto;
    height: 100%;
  }
  .navbar-brand .phone {
    display: none;
  }
  .sidebar-nav-fixed .navbar-nav > li {
    display: inline-block;
    margin: 10px 10px 0px 10px;
  }
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>.active>a,  
  .navbar-default .navbar-nav>li.active>a:focus,
  .navbar-default .navbar-nav>li>a:hover {
    display: inline-block;
  }

  .content {
    display: block;
    padding: 5rem 4rem 0rem 2rem;
    margin-top: 10rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 599px) {
  .navbar-brand .tablet {
    display: none !important;
  }
  .navbar-brand .phone {
    display: inline-block;
    float: left;
    margin: 20px 5px 0px 20px;
    width: auto;
    height: 70%;
  }
  .sidebar-nav-fixed .navbar-nav > li {
    display: inline-block;
    margin: 5px 0px 0px 2px;
  }
  .content {
    display: block;
    padding: 2rem 0rem 0rem 0rem;
    margin-top: 10rem;
  }
}
